
<div class="row">
    <div class="comm-container col-md-9 mx-auto">
    {{#each comments}}
    <div class="row">
        <P>{{author}}</P>
        <p>{{comment}}</p>
    </div>
    {{/each}}
    </div>
</div>