
<div class="row">
    <div class="comm-container col-md-9 mx-auto">
    {{#each comments}}
    <div class="row">
        <P>Author: {{author}}</P>
        <p>Thought: {{comment}}</p>
    </div>
    {{/each}}
    </div>
</div>